.admin-container{
    display: flex;
    .admin-sidebar{
    .pro-sidebar{
        height: 100vh !important;
    }
    }
}

.sidebar-btn-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebar-btn {
      padding: 1px 15px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.05);
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        margin-left: 5px;
        font-size: 13px;
      }
      &:hover {
        color: white
      }
    }
  }